* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #27272a;
  font-weight: 400;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  position: relative;
}

img {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  height: 9.6rem;
  padding: 0 12rem;
  align-items: center;
  margin-bottom: 4rem;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.main-nav-list {
  gap: 4.8rem;
  display: flex;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: #292929;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.navLinkDeskT:link,
.navLinkDeskT:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: #292929;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.navLinkDeskT:hover,
.navLinkDeskT:active {
  color: #6b7280;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6b7280;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 8vw;
  width: 8vw;
  color: #27272a;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.logoArea {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
  z-index: 1;
}

.logoSVG {
  transition: all 2s;
  width: unset;
}

.logoSVG:hover {
  transform: rotate(-900deg);
}

.logoText {
  font-weight: 700;
  font-size: 2rem;
  color: #292929;
  text-decoration: none;
}

.sectionHero {
  margin-top: 9rem;
  margin-bottom: 7.5rem;
  position: relative;
  z-index: 0;
}

.hero {
  grid-template-columns: 40fr 60fr;
  padding: 0rem 0rem 0rem 12rem;
  align-items: center;
  margin: 0 auto;
  display: grid;
  gap: 10rem;
}

.heroBtnPhone {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.navLinkPhoneT {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.heroHeading {
  font-weight: 700;
  font-size: 5.8rem;
  color: #18181b;
}

.special {
  color: #ceb000;
}

.heroText {
  font-weight: 400;
  font-size: 1.8rem;
  color: #18181b;
  line-height: 3.4rem;
}

.heroBtnArea {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.7rem;
  transition: all 0.5s;
  margin-bottom: 3rem;
  border-radius: 5px;
  padding: 1.8rem 5rem;
}

.heroBtnOne:link,
.heroBtnOne:visited {
  color: #18181b;
  background-color: #ffe800;
  box-shadow: 0px 8px 18px rgba(215, 177, 101, 0.411);
}

.heroBtnOne:hover,
.heroBtnOne:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 8px rgba(18, 18, 18, 0.034),
    0px 8px 18px rgba(215, 207, 101, 0.767);
}

.heroBtnTwo:link,
.heroBtnTwo:visited {
  position: relative;
  background: none !important;
  color: #27272a;
}

.heroBtnTwo:hover,
.heroBtnTwo:active {
  background-color: #f4f4f5;
  box-shadow: inset 0 0 0 3px #fff, 0px 8px 18px rgba(48, 45, 46, 0.132);
}

.arrowBtn {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  position: absolute;
  transform: translate(50%, 50%);
  top: -10%;
  right: 15%;
}

.secondSection {
  min-height: 50vw;
  margin-bottom: 7.5rem;
  background-color: #f8f8f7;
  overflow: hidden;
}

.secondSectionContainer {
  display: grid;
  padding: 12rem;
  column-gap: 8rem;
  grid-template-columns: 35fr 65fr;
}

.secondContentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
}

.secondSecHeading {
  font-weight: 600;
  font-size: 2.2rem;
  color: #18181b;
}
.secondSecText {
  color: #18181b;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}

.secondSecImgBox {
  position: relative;
  z-index: 8;
}

.imgframe {
  position: absolute;
  width: 47rem;
  height: 30rem;
  border: 10px solid #fced65;
  transform: translate(-2.6rem, -2rem);
  z-index: 7;
}
/***/

.thirdSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.thirdSectionHeading {
  color: #18181b;
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.imgCartBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.wholeImgCart {
  background-color: #f4f4f5;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 23.6rem;
  height: 30rem;
}

.cartNamingBox {
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  height: 30%;
}

.cartName {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: #ddf472;
  width: 100%;
}

.cartRank {
  font-weight: 400;
  font-size: 1.4rem;
  color: #d4d4d4;
}

.cart1 {
  background-image: url("./Images/cart1.jpg");
  background-size: cover;
  background-position: center;
}

.cart2 {
  background-image: url("./Images/cart2.png");
  background-size: cover;
  background-position: center;
  background-position: 0vw -6vw;
}

.cart3 {
  background-image: url("./Images/cart3.png");
  background-size: cover;
  background-position: -3vw -3vw;
}

.cart4 {
  background-image: url("./Images/cart4.jpg");
  background-size: cover;
  background-position: 0vw -3vw;
}

.cart5 {
  background-image: url("./Images/cart5.jpg");
  background-size: cover;
  background-position: center;
  background-position: 0vw -3vw;
}

.cart6 {
  background-image: url("./Images/cart6.jpg");
  background-size: cover;
  background-position: center;
}

.cart7 {
  background-image: url("./Images/cart7.JPG");
  background-size: cover;
  background-position: 0vw -8.5vw;
}

.cart8 {
  background-image: url("./Images/cart8.jpg");
  background-size: cover;
  background-position: center;
}

.cart9 {
  background-image: url("./Images/cart9.jpg");
  background-size: cover;
  background-position: center;
  background-position: -0.5vw -2.4vw;
}

.innoLine {
  border-bottom: 4px solid #facc15;
  padding-bottom: 1rem;
}

/***/

.sectionService {
  min-height: 50vw;
  margin-top: 10rem;
  background-color: #160f03;
}

.serviceContentBox {
  gap: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12rem 26rem;
}

.serviceHeadingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
}

.serviceHeading {
  font-weight: 700;
  font-size: 4rem;
  color: #fafafa;
}

.servieLine {
  width: 12vw;
}

.servicesBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15rem;
  row-gap: 14rem;
}

.wholeService {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}
.serviceBigIcon {
  width: 5vw;
}

.serviceText {
  color: #fafafa;
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
  line-height: 3rem;
}

/***/

.sectionProduct {
  padding: 10rem 10rem 0rem 10rem;
}

.sectionProductHeading {
  font-size: 3rem;
  color: #27272a;
  margin-bottom: 6rem;
}

.productsContainer {
  gap: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wholeProductBox {
  display: grid;
  column-gap: 6rem;
  align-items: center;
  grid-template-columns: 50fr 50fr;
}

.productImgBox {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
}

.box1 {
  background-color: #e5f6f3;
}

.box2 {
  background-color: #fffcda;
}

.productImg {
  width: 75%;
}

/***/
.siteFooter {
  z-index: 1;
  min-height: 23vw;
  background-color: #1d1a30;
  box-shadow: 0px 5px 15px 9px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.footerContainer {
  display: flex;
  align-items: flex-start;
  padding: 6rem 0rem 0rem 0rem;
  justify-content: space-evenly;
}

.footerLinks {
  display: grid;
  row-gap: 2rem;
  list-style: none;
  column-gap: 5rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.copyrightFotter {
  display: flex;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  padding: 2rem 0rem 3rem 0rem;
  border-top: 1px solid #39393988;
}

.companyInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.logoAreaFooter {
  transform: translateY(-1rem);
}

.logoTextFooter {
  color: #fafafa;
}

.wholeInfo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.footerIcons {
  width: unset !important;
  cursor: pointer;
}

.infoText {
  color: #fafafa;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.foterLink {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fafafa;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer !important;
}

.foterLinkBig {
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 1.65rem;
  color: #fafafa;
}

.foterLink:hover {
  color: #a1a1aa;
}

.copyrightText {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: 0.1rem;
  transform: translateX(-20rem);
}

.socialIconsBox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socialIcon {
  width: unset !important;
  cursor: pointer;
  transition: all 0.3s;
}

.socialIcon:hover {
  transform: translateY(-3px);
}

/*** Quires **/

@media (max-width: 238em) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 207em) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 188em) {
  html {
    font-size: 105%;
  }
}

@media (max-width: 169em) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 150em) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 132em) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 140em) {
  .svgg {
    width: 2vw !important;
  }

  .listIcon2 {
    width: 3vw;
  }

  .heroText {
    font-size: 1.8rem;
  }

  .section4Heading {
    line-height: 5.5rem;
  }

  .fifthSection {
    min-height: 42vw;
  }

  .navLink {
    font-size: 1.8rem;
  }

  .secondSection {
    min-height: 40vw;
  }

  .footerIcons {
    width: 1.5vw !important;
  }

  .socialIcon {
    width: 1.5vw !important;
  }

  .hotelCard {
    bottom: 68%;
  }
}

@media (max-width: 120em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 91.25em) {
  html {
    font-size: 55%;
  }

  .dotsSVG {
    left: 16%;
    bottom: 25%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 80.8em) {
  html {
    font-size: 50%;
  }

  .dotsSVG {
    bottom: 24%;
  }

  .productAboutHeading {
    font-size: 1vw;
  }

  .forthWholeList {
    font-size: 1.3vw;
    line-height: 3rem;
  }

  .svgg {
    width: 2vw !important;
  }

  .optionIcon {
    width: 1vw !important;
  }

  .arrowSVG {
    width: 1.6vw !important;
  }

  .heroText {
    font-size: 1.1vw;
  }

  .section2Text {
    font-size: 1.1vw;
  }
  .secListText {
    font-size: 1.1vw;
  }
}

@media (max-width: 74em) {
  html {
    font-size: 45%;
  }

  .dotsSVG {
    bottom: 24%;
  }

  .hotelCard {
    bottom: 73%;
  }

  .footerIcons {
    width: 2vw !important;
  }
  .socialIcon {
    width: 2vw !important;
  }
}

@media (max-width: 67em) {
  html {
    font-size: 40%;
  }

  .dotsSVG {
    bottom: 24%;
  }

  .hotelCard {
    bottom: 73%;
  }

  .productAboutHeading {
    font-size: 1vw;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 35%;
  }

  .dotsSVG {
    bottom: 27%;
  }
}

@media (max-width: 54em) {
  html {
    font-size: 33%;
  }

  .dotsSVG {
    bottom: 29%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 30%;
  }

  .dotsSVG {
    bottom: 31%;
  }

  .hotelCard {
    bottom: 75%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 26%;
  }

  .dotsSVG {
    bottom: 31%;
  }
  .sectionProduct {
    margin-bottom: 7.5rem;
    padding: 0 4rem;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 23%;
  }

  .dotsSVG {
    bottom: 31%;
  }
  .sectionProduct {
    margin-bottom: 7.5rem;
    padding: 0 0rem;
  }

  .productHeadingArea {
    padding-left: 4rem;
  }
  .productChoicesArea {
    padding: 4rem 4rem;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 20%;
  }

  .dotsSVG {
    bottom: 31%;
  }
  .sectionProduct {
    margin-bottom: 7.5rem;
    padding: 0 0rem;
  }
}

/*** Quires Phones start with 512px **/

@media (max-width: 32em) {
  html {
    font-size: 20%;
  }

  .header {
    min-height: 16vw;
    padding: 0 3.6vw;
    margin-bottom: 4vw;
    z-index: 100;
  }

  .main-nav {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    visibility: hidden;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    background-color: #f4f4f5a8;
    -webkit-backdrop-filter: blur(5px);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 8vw;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 5vw;
    font-weight: 700;
    font-family: inherit;
  }

  .navLinkPhoneT {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    font-size: 5vw;
    font-weight: 700;
    font-family: inherit;
    text-decoration: none;
    color: #333232;
  }

  .navLinkDeskT {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .heroBtnPhone {
    text-decoration: none;
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    width: 90vw;
    height: 14vw;
    border-radius: 40px;
    display: flex;
    font-size: 4.5vw;
    font-family: inherit;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    background: linear-gradient(212.74deg, #f8506d 19.34%, #f97d48 81.59%);
    box-shadow: 0px 8px 18px rgba(215, 101, 120, 0.6);
  }

  .heroBtnOne {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .logoArea {
    gap: 2vw;
  }

  .logoSVG {
    width: 7.5vw !important;
  }

  .logoText {
    font-size: 4.5vw;
  }

  .navList {
    display: none;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .navLink {
    display: inline-block;
    font-size: 1.6rem;
  }

  .sectionHero {
    padding-top: 9vw;
    padding-bottom: 2vw;
  }

  .sectionHero::after {
    background: radial-gradient(
      37.16% 37.32% at 50% 50%,
      #f9a8d400 0%,
      rgba(186, 229, 255, 0) 0%
    );
  }

  .sectionHero::before {
    content: "";
    top: -13%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background: radial-gradient(
      37.16% 37.32% at 50% 50%,
      #97d4e730 0%,
      rgba(186, 229, 255, 0) 100%
    );
    transform: rotate(90deg);
  }

  .hero {
    padding: 0 3.4vw;
    gap: 5vw !important;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    position: relative;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    gap: 7vw;
  }

  .heroHeading {
    font-size: 7.8vw;
  }

  .heroImgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12vw;
  }

  .heroImg {
    width: 110%;
  }

  .innoLine2 {
    border-bottom: 4px solid #f43f5de5;
    padding-bottom: 4.2rem;
  }

  .heroText {
    font-size: 3.6vw;
    line-height: 5.5vw;
    width: 700 !important;
  }

  .heroBtnArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw !important;
    position: absolute;
    transform: translate(2vw, 122vw);
  }

  .btn,
  .btn:link,
  .btn:visited {
    width: 90vw;
    height: 14vw;
    border-radius: 40px;
    display: flex;
    font-size: 4.5vw;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .arrowBtn {
    font-size: 8vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    position: unset;
    transform: unset;
    top: unset;
    right: unset;
  }

  .featuresArea {
    display: flex;
    flex-direction: column;
    gap: 4.2vw;
    padding: 40vw 0.3vw 4vw 0.3vw;
  }

  .wholeFeature {
    gap: 2vw;
    width: 93vw;
    height: 40vw;
    background-color: #fcfcfc;
  }

  .featureTextArea {
    gap: 1rem;
  }

  .featureText {
    font-weight: 400;
    font-size: 4vw;
  }

  .featureIcon {
    width: 8vw !important;
  }

  .iconBack {
    padding: 5vw;
  }

  .secondSection {
    min-height: 50vw;
    margin-bottom: 6vw;
  }

  .qrImage {
    width: 100%;
  }

  .sectionTwoContent {
    grid-template-columns: 1fr;
    display: grid;
  }

  .wholeTextContet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8vw 6vw 8vw 6vw;
    gap: 5vw;
  }

  .section2HeadingArea {
    display: flex;
    flex-direction: column;
  }

  .section2Heading {
    font-size: 6vw;
  }

  .section2Text {
    font-size: 3.4vw;
    line-height: 6vw;
  }

  .section2ListArea {
    gap: 3vw;
  }

  .SecWholeList {
    display: flex;
    align-items: center;
    gap: 3vw;
    position: relative;
  }

  .listIcon {
    width: 5vw !important;
  }

  .listIcon2 {
    width: 11vw !important;
  }

  .secListText {
    font-size: 3.4vw;
    line-height: 6vw;
  }

  .listIconMove {
    transform: translateY(-8rem);
  }

  .moveIt {
    transform: translateY(-4rem);
    width: 5.5vw !important;
  }

  /**/

  .thirdSection {
    padding-top: 4vw;
    margin-bottom: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section3BoxImg {
    padding: 0vw;
  }

  .hotelCard {
    gap: 4vw;
    z-index: 1;
    width: 90vw;
    height: 58vw;
    padding: 10vw 5vw;
    position: absolute;
    padding-bottom: 12vw;
    left: unset !important;
    bottom: unset !important;
    transform: translate(0%, 90%);
  }

  .hotelHeading {
    font-size: 5vw;
    line-height: 7vw;
    padding-right: 15vw;
  }

  .hotelText {
    font-size: 3.8vw;
    line-height: 6.5vw;
  }

  /**/

  .forthSection {
    padding-top: 16vw;
    margin-bottom: 8vw;
  }

  .section4HeadingArea {
    display: flex;
    padding: 0 4vw;
    margin-bottom: 8vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .section4Heading {
    font-size: 5.6vw;
    line-height: 8.5vw;
  }

  .innoLine {
    padding-bottom: 2.2rem;
  }

  .forthSecContent {
    gap: 5vw;
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    grid-template-columns: 1fr;
    padding: 10vw 10vw 8vw 10vw;
    box-shadow: 0px 4px 15px -2px rgba(50, 50, 71, 0.15);
  }

  .box2 {
    gap: 4vw !important;
    grid-template-columns: 1fr;
    padding: 10vw 10vw 8vw 10vw !important;
  }

  .boxy {
    padding: 10vw 10vw 4vw 10vw !important;
  }

  .box2Img {
    order: -1;
  }

  .box3 {
    gap: 4vw !important;
    z-index: 10;
  }

  .forthSecImg {
    width: 100%;
  }

  .forthSecTextBox {
    align-items: center;
    justify-content: center;
    gap: 4vw;
  }

  .middel {
    justify-content: center;
  }

  .forthBoxHeading {
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
  }

  .forthSecList {
    gap: 5vw !important;
    display: flex;
    margin-left: 1vw;
    align-items: flex-start;
  }

  .forthWholeList {
    font-size: 3.5vw;
    line-height: 5.5vw;
  }

  .bigBoxForth {
    gap: 6vw;
  }

  .boxImg1 {
    padding-right: 13vw;
    z-index: 10;
  }

  .img1 {
    width: 110%;
  }

  .img2Origin {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .img2 {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 110%;
  }

  .boxImg2 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .img3 {
    width: 80%;
    transform: translateX(8vw);
  }

  .img4 {
    transform: translateX(8vw);
  }

  .bigBoxForth::after {
    content: "";
    top: 52%;
    right: 0%;
    width: 100%;
    height: 50%;
    z-index: 11;
    position: absolute;
    background: radial-gradient(
      37.16% 37.32% at 50% 50%,
      #c0096e00 0%,
      rgba(186, 229, 255, 0) 0%
    );
    transform: rotate(90deg);
  }

  .bigBoxForth::before {
    content: "";
    top: 63%;
    right: 10%;
    width: 100%;
    height: 50%;
    z-index: 1;
    position: absolute;
    background: radial-gradient(
      37.16% 37.32% at 50% 50%,
      #97d4e700 0%,
      rgba(186, 229, 255, 0) 0%
    );
    transform: rotate(90deg);
  }

  .forthSection::after {
    content: "";
    top: 29%;
    right: 0%;
    width: 100%;
    height: 50%;
    z-index: 1;
    position: absolute;
    background: radial-gradient(
      37.16% 37.32% at 50% 50%,
      #c0096e00 0%,
      rgba(186, 229, 255, 0) 0%
    );
    transform: rotate(90deg);
  }

  .forthSection::before {
    content: "";
    top: 40%;
    right: 10%;
    width: 100%;
    height: 50%;
    z-index: 1;
    position: absolute;
    background: radial-gradient(
      37.16% 37.32% at 50% 50%,
      #29778f00 0%,
      rgba(186, 229, 255, 0) 0%
    );
    transform: rotate(90deg);
  }

  .boxImg4 {
    z-index: 10;
  }

  .fifthSection {
    margin-top: 15vw;
    min-height: 100vw;
  }

  .fifthContentBox {
    gap: 8vw;
    padding: 0vw 10vw;
    padding-top: 7vw;
  }

  .headingFifth {
    font-size: 5.4vw;
  }

  .fifthTextArea {
    gap: 2vw;
    order: 1;
  }

  .fifthText {
    font-size: 3.4vw;
    line-height: 6vw;
    text-align: left;
  }

  .hideFifthText {
    display: none;
    visibility: none;
    opacity: 0;
  }

  .dotsSVG {
    display: none;
    visibility: none;
    opacity: 0;
  }

  .siteFooter {
    margin-top: 13.5vw;
    gap: 2vw;
    min-height: 40vw;
    justify-content: space-between;
    box-shadow: 0px 5px 15px 9px rgba(0, 0, 0, 0.1);
  }

  .footerContainer {
    gap: 10vw;
    flex-direction: column;
    padding: 8.5vw 4.5vw 8.5vw 6vw;
  }

  .footerLinks {
    row-gap: 3vw;
    column-gap: 5vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logoAreaFooter {
    transform: unset !important;
  }

  .logoTextFooter {
    font-size: 4.5vw;
  }

  .companyInfoBox {
    gap: 3vw;
  }

  .wholeInfo {
    gap: 3.4vw;
  }

  .footerIcons {
    width: 4.2vw !important;
  }

  .infoText {
    font-weight: 400 !important;
    font-size: 3.2vw;
    line-height: 6vw;
  }

  .foterLink {
    font-size: 3.2vw;
    font-weight: 300;
  }

  .foterLinkBig {
    font-size: 4vw;
  }

  .copyrightText {
    font-size: 3.4vw;
    font-weight: 400;
    transform: unset;
  }

  .socialIconsBox {
    gap: 4.5vw;
  }

  .socialIcon {
    width: 5vw !important;
  }

  .copyrightFotter {
    gap: 10vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 8vw 4vw 12vw 4vw;
    border-top: 2px solid #393939f4;
  }

  /**/
  .sectionProduct {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .sectionProductPhone {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    padding: 16vw 0vw 10vw 0vw;
  }

  .productHeadingArea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0vw !important;
  }

  .productHeading {
    font-size: 5.4vw;
    text-align: center;
  }

  .productBuyArea {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: unset;
    display: flex;
    gap: 3vw;
    padding-top: 8vw;
    padding-bottom: 6vw;
  }

  .saleText {
    font-weight: 600;
    font-size: 4.2vw;
  }

  .buyBtnsArea {
    justify-content: center;
    gap: 2vw;
  }

  .btnProduct {
    font-weight: 400;
    font-size: 3vw;
    width: 34vw;
    height: 8vw;
  }

  .notActive {
    color: #52525b;
  }

  .activeBtn {
    color: #fff;
    background-color: #2878dc;
  }

  .activeBtn:hover {
    box-shadow: 0 0 0 6px rgba(18, 18, 18, 0.096),
      0px 8px 18px rgba(101, 101, 215, 0.147);
  }

  /**/
  .accordion {
    gap: 6vw;
    z-index: 20;
    display: flex;
    padding: 0vw 6vw;
    align-items: center;
    transition: all 0.5s;
    flex-direction: column;
  }

  .item {
    gap: 8vw;
    z-index: 20;
    width: 100%;
    display: flex;
    padding: 10vw 2vw;
    border-radius: 25px;
    transition: all 0.5s;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    box-shadow: 0px 4px 15px -2px rgba(50, 50, 71, 0.15);
  }

  .show-box {
    display: flex;
    align-items: center;
    transition: all 0.5s;
    justify-content: space-between;
  }

  .headingAC {
    font-weight: 700;
    font-size: 3.9vw;
    line-height: 2vw;
    color: #2878dc;
    padding-left: 4vw;
  }

  .priceAC {
    font-weight: 600;
    font-size: 4vw;
    color: #1b1b1b;
  }

  .iconAC {
    width: 2vw;
  }

  .choseProductBtnArea {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .choseProductBtn {
    margin-top: 2vw;
    width: 100%;
    height: 10vw;
    font-size: 3.6vw;
  }

  .iconNo {
    width: 4vw !important;
    position: absolute;
    transform: translateX(74vw);
  }

  .priceIconArea {
    gap: 5vw;
    display: flex;
    align-items: center;
    padding-right: 3.6vw;
    justify-content: center;
  }

  .hidden-box {
    opacity: 0;
    grid-column: 2;
    display: none;
    visibility: none;
    pointer-events: none;
    transition: all 0.5s;
  }

  .wholeInfoProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2.5vw 3.5vw 3.2vw;
    border-top: 1px solid #e1e1e1;
    position: relative;
  }

  .InfoText {
    font-weight: 500;
    font-size: 3.4vw;
    line-height: 4vw;
    color: #292524;
    width: 80%;
  }

  .infoIcon {
    width: 4.5vw !important;
    position: absolute;
    transform: translateX(74vw);
  }

  .open {
    transition: all 0.5s;
  }

  .open .hidden-box {
    opacity: 1;
    display: block;
    visibility: visible;
    pointer-events: all;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }

  .open .iconAC {
    transform: rotate(270deg);
  }
}
