* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: #27272a;
  font-weight: 400;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  position: relative;
}

img {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  height: 9.6rem;
  padding: 0 12rem;
  align-items: center;
  margin-bottom: 4rem;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.main-nav-list {
  gap: 4.8rem;
  display: flex;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  color: #292929;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6b7280;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 8vw;
  width: 8vw;
  color: #27272a;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.logoArea {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
  z-index: 1;
}

.logoSVG {
  transition: all 2s;
  width: unset;
}

.logoSVG:hover {
  transform: rotate(-900deg);
}

.logoText {
  font-weight: 700;
  font-size: 2rem;
  color: #292929;
  text-decoration: none;
}

.sectionHero {
  margin-top: 9rem;
  margin-bottom: 7.5rem;
  position: relative;
  z-index: 0;
}

.hero {
  grid-template-columns: 40fr 60fr;
  padding: 0rem 0rem 0rem 12rem;
  align-items: center;
  margin: 0 auto;
  display: grid;
  gap: 10rem;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.heroHeading {
  font-weight: 700;
  font-size: 5.8rem;
  color: #18181b;
}

.special {
  color: #ceb000;
}

.heroText {
  font-weight: 400;
  font-size: 1.8rem;
  color: #18181b;
  line-height: 3.4rem;
}

.heroBtnArea {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.7rem;
  transition: all 0.5s;
  margin-bottom: 3rem;
  border-radius: 5px;
  padding: 1.8rem 5rem;
}

.heroBtnOne:link,
.heroBtnOne:visited {
  color: #18181b;
  background-color: #ffe800;
  box-shadow: 0px 8px 18px rgba(215, 177, 101, 0.411);
}

.heroBtnOne:hover,
.heroBtnOne:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 8px rgba(18, 18, 18, 0.034),
    0px 8px 18px rgba(215, 207, 101, 0.767);
}

.heroBtnTwo:link,
.heroBtnTwo:visited {
  position: relative;
  background: none !important;
  color: #27272a;
}

.heroBtnTwo:hover,
.heroBtnTwo:active {
  background-color: #f4f4f5;
  box-shadow: inset 0 0 0 3px #fff, 0px 8px 18px rgba(48, 45, 46, 0.132);
}

.arrowBtn {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  position: absolute;
  transform: translate(50%, 50%);
  top: -10%;
  right: 15%;
}

.secondSection {
  min-height: 50vw;
  padding-top: 2rem;
  margin-bottom: 7.5rem;
  background-color: #f8f8f7;
  overflow: hidden;
}

.secondSectionContainer {
  display: grid;
  padding: 12rem;
  column-gap: 8rem;
  grid-template-columns: 35fr 65fr;
}

.secondContentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
}

.secondSecHeading {
  font-weight: 600;
  font-size: 2.2rem;
  color: #18181b;
}
.secondSecText {
  color: #18181b;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}

.secondSecImgBox {
  position: relative;
  z-index: 8;
}

.imgframe {
  z-index: 7;
  width: 30.5vw;
  height: 20vw;
  position: absolute;
  border: 10px solid #fced65;
  transform: translate(-1.6vw, -1.5vw);
}
/***/

.thirdSection {
  padding-top: 5rem;
}

.thirdSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.thirdSectionHeading {
  color: #18181b;
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.imgCartBox1 {
  display: grid;
  column-gap: 4rem;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgCartBox2 {
  display: grid;
  column-gap: 4rem;
  row-gap: 3.4rem;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.wholeImgCart {
  background-color: #f4f4f5;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 21rem;
  height: 27rem;
  overflow: hidden;
}

.cartNamingBox {
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;
  gap: 0.8rem;
  width: 100%;
  height: 35%;
}

.cartName {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: #ddf472;
  width: 100%;
}

.cartRank {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #d4d4d4;
  text-align: center;
  width: 90%;
}

.cart1 {
  background-image: url("./Images/cart1.jpg");
  background-size: cover;
  background-position: center;
}

.cart2 {
  background-image: url("./Images/cart2.png");
  background-size: cover;
  background-position: 0rem -8rem;
}

.cart3 {
  background-image: url("./Images/cart3.png");
  background-size: cover;
  background-position: -3vw -3vw;
}

.cart4 {
  background-image: url("./Images/cart4.jpg");
  background-size: cover;
  background-position: 0vw -3vw;
}

.cart5 {
  background-image: url("./Images/cart5.jpg");
  background-size: cover;
  background-position: center;
  background-position: 0vw -3vw;
}

.cart6 {
  background-image: url("./Images/cart6.jpg");
  background-size: cover;
  background-position: center;
}

.cart7 {
  background-image: url("./Images/cart7.JPG");
  background-size: cover;
  background-position: 0rem -12rem;
}

.cart8 {
  background-image: url("./Images/cart8.jpg");
  background-size: cover;
  background-position: center;
}

.cart9 {
  background-image: url("./Images/cart10.jpg");
  background-size: cover;
  background-position: center;
  background-position: 0vw 0vw;
}

.cart12 {
  background-image: url("./Images/cart12.jpg");
  background-size: 21rem;
  background-position: 0vw 0vw;
}

.innoLine {
  border-bottom: 4px solid #facc15;
  padding-bottom: 1rem;
}

/***/

.sectionService {
  min-height: 45vw;
  margin-top: 10rem;
  padding-top: 5rem;
  background-color: #160f03;
}

.serviceContentBox {
  gap: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 26rem 10rem 26rem;
}

.serviceHeadingArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.serviceHeading {
  font-weight: 700;
  font-size: 4rem;
  color: #fafafa;
}

.servieLine {
  width: 12vw;
}

.servicesBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15rem;
  row-gap: 14rem;
}

.wholeService {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}
.serviceBigIcon {
  width: 5vw;
}

.serviceText {
  color: #fafafa;
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
  line-height: 3rem;
}

/***/

.sectionProduct {
  padding: 12rem 10rem 10rem 10rem;
}

.sectionProductHeading {
  font-size: 3rem;
  color: #27272a;
  margin-bottom: 6.4rem;
}

.productsContainer {
  gap: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wholeProductBox {
  display: grid;
  column-gap: 8rem;
  align-items: flex-start;
  grid-template-columns: 50fr 50fr;
}

.productImgBox {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}

.box1 {
  background-color: #e5f6f3;
}

.box2 {
  background-color: #fffcda;
}

.productImg {
  width: 75%;
}

.productTextBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.theProductHeading {
  color: #18181b;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5.2rem;
}

.theProudctText {
  color: #27272a;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.theProductList {
  gap: 2.4rem;
  display: flex;
  list-style: none;
  margin-top: 1.4rem;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
}

.productList {
  color: #27272a;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.2rem;
}

.wholePrudctList {
  gap: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productMark {
  width: 1.2vw;
}

/***/

.siteFooter {
  z-index: 1;
  display: flex;
  min-height: 42vw;
  align-items: center;
  flex-direction: column;
  background-color: #12141d;
  justify-content: space-between;
  padding: 8rem 7.4rem 0rem 7.4rem;
  box-shadow: 0px 5px 15px 9px rgba(0, 0, 0, 0.25);
}

.footerContentBox {
  gap: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.firstBoxFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.4rem;
}

.footerHeading {
  width: 80%;
  color: #fafafa;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 5.4rem;
  text-align: center;
}

.footerBtn:link,
.footerBtn:visited {
  color: #18181b;
  background-color: #ffe800 !important;
  box-shadow: 0px 8px 18px rgba(45, 38, 25, 0.199);
}

.footerBtn:hover,
.footerBtn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 8px rgba(18, 18, 18, 0.034),
    0px 8px 18px rgba(215, 207, 101, 0.189);
}

.secondBoxFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLogoText {
  color: #fafafa !important;
  margin-left: 0.5rem;
}

.footerLinksList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  transform: translateX(10.5rem);
}

.thefooterSocialBox {
  display: flex;
  align-items: center;
  gap: 3.4rem;
}

.wholeFooterLink {
  text-decoration: none;
  cursor: pointer;
  color: #fafafa;
  font-weight: 400;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.footerLinksList li {
  transition: all 0.5s;
}

.footerLinksList li:hover {
  transform: translateY(-3px);
}

.copyrightFotter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 0rem 3.6rem 0rem;
  border-top: 1.5px solid #ffffff32;
}

.copyrightText {
  font-weight: 400;
  font-size: 1.4rem;
  color: #fafafa;
}

.termsBox {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.termsText {
  color: #fafafa;
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: none;
}

/* MODAL WINDOW */
.modal {
  top: 50%;
  left: 50%;
  display: flex;
  z-index: 1000;
  position: fixed;
  max-width: 80rem;
  border-radius: 5px;
  align-items: center;
  transition: all 0.5s;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 4rem 7rem !important;
  transform: translate(-50%, -50%);
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  color: #262626;
  line-height: 1.5;
  font-size: 3.25rem;
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 4.5rem;
}

.modal__form {
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
}

.wholeContactInput {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.modal__form label {
  font-weight: 400;
  font-size: 1.7rem;
  color: #27272a;
  margin-left: 0.3rem;
}

.modal__form input {
  border: none;
  font-size: 1.6rem;
  padding-left: 1rem;
  border-radius: 10px;
  font-family: inherit;
  background: #f7f8f9;
  width: 40rem;
  height: 6rem;
  transition: all 0.5s;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 5%);
}

.modal__form input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #f4f00bc3;
}

.contactMessageInput {
  height: 12rem !important;
  padding-bottom: 6rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.7rem;
  transition: all 0.5s;
  border-radius: 5px;
  padding: 1.8rem 5rem;
  color: #18181b;
  background-color: #ffe800 !important;
  box-shadow: 0px 8px 18px rgba(45, 38, 25, 0.078);
}

.modal__form button:hover,
.modal__form button:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0 8px rgba(18, 18, 18, 0.034),
    0px 8px 18px rgba(215, 207, 101, 0.189);
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.highlight {
  position: relative;
  margin-left: 0.5rem;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #ffe800;
}

/*** Quires **/

@media (max-width: 238em) {
  html {
    font-size: 130%;
  }

  .logoSVG {
    width: 3vw;
  }

  .imgframe {
    width: 31.6vw;
  }

  .footerSocialIcon {
    width: 1vw;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.9rem;
  }

  .navLinkDeskT:link,
  .navLinkDeskT:visited {
    font-size: 1.9rem;
  }
}

@media (max-width: 207em) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 188em) {
  html {
    font-size: 105%;
  }
}

@media (max-width: 169em) {
  html {
    font-size: 95%;
  }
}

@media (max-width: 150em) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 132em) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 140em) {
  .heroText {
    font-size: 1.8rem;
  }

  .navLink {
    font-size: 1.8rem;
  }
}

@media (max-width: 120em) {
  html {
    font-size: 62.5%;
  }

  .logoSVG {
    width: unset !important;
  }

  .imgframe {
    width: 30.5vw !important;
  }

  .footerSocialIcon {
    width: unset !important;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .navLinkDeskT:link,
  .navLinkDeskT:visited {
    font-size: 1.6rem;
  }
}

@media (max-width: 91.25em) {
  html {
    font-size: 55%;
  }

  .imgframe {
    width: 31vw !important;
  }

  .logoSVG {
    width: 3.6vw !important;
  }

  .footerSocialIcon {
    width: 1.2vw !important;
  }
}

@media (max-width: 80.8em) {
  html {
    font-size: 50%;
  }

  .heroText {
    font-size: 1.1vw;
  }
}

@media (max-width: 74em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 67em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 54em) {
  html {
    font-size: 33%;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 45em) {
  html {
    font-size: 26%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 23%;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 20%;
  }
}

/*** Quires Phones start with 512px **/
@media (max-width: 32em) {
  html {
    font-size: 20%;
  }

  .header {
    z-index: 100;
    min-height: 16vw;
    padding: 0 3.6vw;
    margin-bottom: 4vw;
  }

  .main-nav {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    visibility: hidden;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    background-color: #f4f4f5a8;
    -webkit-backdrop-filter: blur(5px);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 8vw;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 5vw;
    font-weight: 700;
    font-family: inherit;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .logoArea {
    gap: 2vw;
  }

  .logoSVG {
    width: 10vw !important;
  }

  .logoText {
    font-size: 4.5vw;
  }

  .heroImgBox {
    order: -1;
    z-index: 2;
  }

  .sectionHero {
    margin-top: 14vw;
    margin-bottom: 0vw;
  }

  .hero {
    gap: unset;
    padding: 0rem;
    grid-template-columns: 1fr;
  }

  .heroContent {
    gap: 6vw;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 0vw 6vw 0vw 4vw;
    transform: translateY(-12vw);
  }

  .heroHeading {
    font-size: 8.8vw;
    line-height: 10.4vw;
  }

  .special2 {
    color: #fafafa;
  }

  .heroText {
    font-size: 4.2vw;

    line-height: 6.6vw;
  }

  .heroBtnArea {
    gap: 8.6vw;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 3.6vw;
    padding: 3.6vw 6.6vw;
  }

  .heroBtnTwo:link,
  .heroBtnTwo:visited {
    border-radius: unset;
    padding: 3.4vw 2.4vw;
    transform: translateY(-1vw);
    background-color: #fff;
    box-shadow: unset !important;
    background: none !important;
    border-bottom: 2px solid #000000;
  }

  .arrowBtn {
    opacity: 0;
    display: none;
    visibility: hidden;
  }

  .secondSection {
    min-height: 50vw;
    padding: 6vw 0vw;
    padding-top: 20vw !important;
  }

  .secondSectionContainer {
    padding: 2vw 5.8vw;
    row-gap: 4.6vw;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .imgArea {
    padding: 0vw 8vw;
  }

  .secondContentBox {
    gap: 3.6vw;
  }

  .secondSecHeading {
    font-weight: 700;
    font-size: 4vw;
  }
  .secondSecText {
    font-weight: 500;
    font-size: 3.5vw;
    line-height: 6vw;
  }

  .imgframe {
    z-index: 7;
    width: 80vw !important;
    height: 50vw !important;
    transform: translate(-3.8vw, -4vw);
  }
  /***/

  .thirdSection {
    padding: 1vw 2vw;
  }

  .thirdSectionContainer {
    gap: 3.6vw;
  }

  .thirdSectionHeading {
    font-size: 6vw;
    margin-bottom: 4vw;
  }

  .imgCartBox2 {
    column-gap: 4vw;
    row-gap: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .imgCartBox1 {
    column-gap: 4vw;
    row-gap: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wholeImgCart {
    width: 45vw;
    height: 55vw;
  }

  .cartNamingBox {
    gap: 1.6vw;
    padding-top: 2vw;
  }

  .cartName {
    font-size: 3.8vw;
  }

  .cartRank {
    font-size: 3.4vw;
    line-height: 4.6vw;
  }

  .cart2 {
    background-position: 0vw -20vw;
  }

  .cart3 {
    background-position: -8vw -8vw;
  }

  .cart4 {
    background-position: 0vw -8vw;
  }

  .cart5 {
    background-position: 0vw -10vw;
  }

  .cart7 {
    background-position: 0vw -23vw;
    transform: translateX(24.5vw);
  }

  .cart9 {
    background-position: 0vw 0vw;
  }

  .cart12 {
    background-size: 43vw;
    background-position: 0vw 0vw;
  }

  .innoLine {
    border-bottom: 3px solid #facc15;
    padding-bottom: 1vw !important;
  }

  /***/

  .sectionService {
    padding: 20vw 0vw 14vw 0vw;
    min-height: 50vw !important;
  }

  .serviceContentBox {
    gap: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: unset !important;
  }

  .serviceHeadingArea {
    gap: 5vw;
  }

  .serviceHeading {
    font-weight: 700;
    font-size: 6.5vw;
  }

  .servieLine {
    width: 32vw;
    z-index: 10;
  }

  .servicesBox {
    display: grid;
    row-gap: 6.4vw;
    align-items: flex-start;
    grid-template-rows: unset;
    justify-content: flex-start;
    grid-template-columns: 1fr;
  }

  .wholeService {
    gap: 4.2vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .serviceBigIcon {
    width: 16.5vw;
  }

  .serviceText {
    font-weight: 300;
    font-size: 4.6vw;
    text-align: unset !important;
  }

  /***/

  .sectionProduct {
    padding: 18vw 5vw 5vw 5vw;
  }

  .sectionProductHeading {
    font-size: 5vw;
    margin-bottom: 8vw;
    text-align: center;
  }

  .TextBox1 {
    order: 1;
  }

  .productsContainer {
    gap: 10vw;
  }

  .wholeProductBox {
    row-gap: 5vw;
    grid-template-columns: 1fr;
  }

  .productTextBox {
    gap: 3.2vw;
    padding-right: 1vw;
  }

  .theProductHeading {
    font-size: 5vw;
    line-height: 6vw;
  }

  .theProudctText {
    font-size: 3.6vw;
    line-height: 5.6vw;
  }

  .theProductList {
    gap: 3vw;
    margin-top: 3vw;
    margin-left: 4vw;
  }

  .productList {
    font-size: 3.4vw;
    line-height: 5vw;
  }

  .wholePrudctList {
    gap: 3.8vw;
  }

  .productMark {
    width: 3vw;
  }

  /***/

  .siteFooter {
    margin-top: 5vw;
    min-height: 42vw;
    padding: 10vw 7.4rem 0rem 7.4rem;
  }

  .footerContentBox {
    gap: 10vw;
    align-items: center;
    flex-direction: column;
  }

  .firstBoxFooter {
    gap: 4vw;
  }

  .footerHeading {
    width: 90%;
    font-size: 5vw;
    line-height: 8vw;
  }

  .footerBtn:link,
  .footerBtn:visited {
    margin-top: 2vw;
  }

  .footerSocialIcon {
    width: 4vw !important;
    order: -1;
  }

  .secondBoxFooter {
    gap: 6.4vw;
    margin-bottom: 6vw;
    align-items: center;
    flex-direction: column;
  }

  .footerLinksList {
    transform: unset !important;
    gap: 5vw;
  }

  .thefooterSocialBox {
    gap: 3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .wholeFooterLink {
    font-size: 3.2vw;
  }

  .copyrightFotter {
    gap: 4.4vw;
    flex-direction: column;
    padding: 4vw 0vw;
    border-top: 2px solid #ffffff32;
  }

  .copyrightText {
    font-size: 3.4vw;
  }

  .termsBox {
    flex-direction: column;
    gap: 2.6vw;
  }

  .termsText {
    font-size: 3.4vw;
  }

  /* MODAL WINDOW */

  .modal {
    width: 90vw;
    height: 134vw;
    padding: unset !important;
    max-width: unset !important;
  }

  .modal__header {
    font-size: 6.6vw;
    margin-bottom: 6vw;
    text-align: center;
    transform: translateX(-1vw);
  }

  .modal__form {
    margin: 0 3vw;
    gap: 6vw;
  }

  .wholeContactInput {
    gap: 3vw;
  }

  .modal__form label {
    font-size: 3.6vw;
    margin-left: 0.5vw;
  }

  .modal__form input {
    width: 80vw;
    height: 10.5vw;
    font-size: 3.4vw;
    padding-left: 2vw;
  }

  .contactMessageInput {
    height: 25vw !important;
    padding-bottom: 14vw;
  }

  .modal__form button {
    margin-top: 2vw;
    width: 100%;
    font-weight: 700;
    font-size: 3.4vw;
    padding: 3.2vw 0vw;
  }

  .btn--close-modal {
    top: 0.5vw;
    right: 2vw;
    font-size: 6.4vw;
  }
}

@media (max-width: 24.5em) {
  .sectionProduct {
    padding: 22vw 5vw 5vw 5vw;
  }

  .wholeFooterLink {
    font-size: 3vw;
  }

  .footerLinksList {
    transform: unset !important;
    gap: 3.6vw;
  }
}
